@keyframes loader {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

:root {
  --dark-bg-primary: #121212;
  --dark-text-color: white;
  --dark-bg-secondary: #444444;
}

::-webkit-scrollbar {
  width: 1vw;
  background-color: var(--dark-bg-primary);
}

::-webkit-scrollbar-button {
  background-color: var(--dark-bg-primary);
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-bg-secondary);
  border-radius: 1vw;
}

body {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  background-color: var(--dark-bg-primary);
}

.loader-block {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.loader {
  width: 5vw;
  height: 5vw;
  background-color: transparent;
  border-radius: 50%;
  border-top: 5px;
  border-color: var(--dark-text-color);
  border-style: solid;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  animation-name: loader;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.content {
  width: 100%;
  display: none;
  border-radius: 0px;
  flex-direction: column;
  margin: 0px;
  margin-top: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--dark-bg-secondary);
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 150;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 150;
}

.user-info {
  display: none;
  flex-direction: row;
  width: max-content;
  justify-content: center;
  align-items: center;
}

.user-button {
  background-color: transparent;
  border: 0px;
  width: max-content;
  padding: 5px;
  font-size: 25px;
  color: var(--dark-text-color);
}

.cart {
  position: relative;
}

.cart-item {
  position: absolute;
  top: -9px;
  font-size: 10px;
  border-radius: 50%;
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 17px;
  display: none;
}

.user-button:hover {
  cursor: pointer;
}

.logo-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.logo {
  color: var(--dark-text-color);
  font-size: 30px;
}

.logo-text {
  color: var(--dark-text-color);
  font-size: 30px;
  margin-left: 4px;
  width: max-content;
}
.logo-block:hover {
  cursor: pointer;
}

.auth-button {
  margin-right: 8px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;
  border-radius: 10px;
  color: var(--dark-text-color);
  border: 0px;
  background: #0058fc;
  background: linear-gradient(
    136deg,
    rgba(0, 88, 252, 1) 0%,
    rgba(7, 10, 115, 1) 89%
  );
  width: max-content;
}

.auth-button:hover {
  cursor: pointer;
}

.search-block {
  width: 100%;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-icon {
  color: var(--dark-text-color);
  font-size: 20px;
  background-color: var(--dark-bg-primary);
  border: 1px var(--dark-text-color) solid;
  border-right: 0px;
  margin: 0px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search {
  background-color: var(--dark-bg-primary);
  border: 0px;
  color: var(--dark-text-color);
  width: 40%;
  margin: 0px;
  padding: 10px;
  border: 1px var(--dark-text-color) solid;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search:focus {
  outline: none;
}
.dropdown {
  position: absolute;
  background-color: var(--dark-bg-secondary);
  top: 63px;
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
  right: 1vw;
  display: none;
}

.dropdown-button {
  margin-right: 8px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;
  border-radius: 10px;
  color: var(--dark-text-color);
  border: 0px;
  width: inherit;
  background-color: transparent;
  margin-top: 3px;
  margin-bottom: 3px;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.admin {
  display: none;
}

.dropdown-text {
  margin-left: 5px;
  font-size: 15px;
}

.dropdown-button:hover {
  cursor: pointer;
  background-color: var(--dark-bg-primary);
}

.logout {
  background-color: red;
  width: 100%;
}

.logout-icon {
  transform: rotate(180deg);
}

.authentication {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240105/pngtree-free-vector-linkedin-banner-with-linked-technology-and-gradient-texture-image_13913255.png");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authentication-block {
  background: rgba(255, 255, 255, 0.25); /*save color */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /*save color */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); /*save color */
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-icon {
  padding: 8px;
  font-size: 50px;
  color: var(--dark-text-color);
  border: 1px var(--dark-text-color) solid;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
}

.greeting {
  margin-top: 5px;
  font-size: 30px;
  color: var(--dark-text-color);
  margin-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 5px;
}

.input {
  padding: 10px;
  outline: none;
  border: none;
  margin: 5px;
  background-color: transparent;
  color: var(--dark-text-color);
  width: 100%;
}

.input-block {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  width: 100%;
  color: var(--dark-text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.input::placeholder {
  color: rgb(236, 195, 195); /* save color */
}

.username {
  font-size: 20px;
  margin-left: 10px;
  width: fit-content;
}

.show {
  margin-right: 10px;
  font-size: 20px;
  display: inline-block;
}

.show:hover {
  cursor: pointer;
}

.hide {
  margin-right: 10px;
  font-size: 20px;
  display: none;
}

.hide:hover {
  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin-top: 5px;
}

.text-action {
  color: var(--dark-text-color);
  transition: all ease-in-out 0.5s;
}

.text-action:hover {
  cursor: pointer;
  color: rgb(244, 173, 173); /* save color */
}

.login-text {
  display: none;
}

.name {
  display: none;
}

.submit-button {
  padding: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #fc008b;
  background: radial-gradient(
    circle,
    rgba(252, 0, 139, 1) 0%,
    rgba(255, 150, 241, 1) 77%
  );
  color: var(--dark-text-color);
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.submit-button:hover {
  cursor: pointer;
}

.content-show {
  display: none;
}

.error {
  display: none;
  color: red;
  margin-top: 4px;
  margin-bottom: 4px;
}

.field-block {
  display: flex;
  flex-direction: column;
}

.main {
  font-size: 20px;
  padding: 7px;
  width: 100%;
  text-align: center;
  background-color: var(--dark-bg-primary);
  border-radius: 10px;
}

.short {
  width: fit-content;
  height: fit-content;
  display: none;
}

.short-loader {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.text {
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  display: block;
}

.main-content {
  width: 100%;
  color: rgb(217, 240, 155);
  margin-top: 57px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.coursel {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.coursel-item {
  min-width: 100%;
  height: 80vh;
  position: absolute;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  opacity: 0%;
  transition: all ease-in 0.25s;
}

.coursel-item.active {
  opacity: 100%;
  display: flex;
  z-index: 2;
}

.coursel-button.active {
  opacity: 100%;
  z-index: 150;
}
.coursel-item:hover {
  cursor: pointer;
}

.coursel-image {
  width: 100%;
  height: 80vh;
}

.coursel-button {
  position: absolute;
  top: 40vh;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0%;
  display: flex;
  transition: all ease-in 0.25s;
  z-index: 150;
}

.coursel-button:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}

.left {
  left: 7px;
}

.right {
  right: 7px;
}

.coursel-text {
  position: absolute;
  top: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: var(--dark-bg-primary);
  border-radius: 10px;
  align-self: center;
  width: 50%;
  box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -webkit-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -moz-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
}

.coursel-main-text {
  font-size: 25px;
  color: var(--dark-text-color);
  display: block;
}

.coursel-sub-text {
  font-size: 15px;
  color: var(--dark-text-color);
  display: block;
}

.category-filter {
  height: fit-content;
  padding: 12px;
  background-color: var(--dark-bg-secondary);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: sticky;
  top: 56px;
}
.category-filter::-webkit-scrollbar {
  display: none;
}

.category-button {
  background-color: transparent;
  padding: 10px;
  color: var(--dark-text-color);
  border-radius: 10px;
  border: 0px;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all ease-in-out 0.25s;
}

.category-button:hover {
  cursor: pointer;
  color: rgb(255, 255, 131);
}

.selected {
  background-color: var(--dark-bg-primary);
}

.selected:hover {
  color: var(--dark-text-color);
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  color: var(--dark-text-color);
}

.no-products {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  color: var(--dark-text-color);
}

.product {
  width: fit-content;
  background-color: var(--dark-bg-secondary);
  border-radius: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: all ease-in-out 0.25s;
}

.product:hover {
  box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -webkit-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -moz-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
}

.product-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px 0px 0px 0px;
}

.product-image:hover {
  cursor: pointer;
}

.product-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.product-desc {
  font-size: 15px;
  font-weight: 100;
  text-align: start;
  width: 90%;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
}

.product-button {
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--dark-bg-primary);
  border: 0px;
  width: 90%;
  color: var(--dark-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 7px;
  transition: all ease-in-out 0.25s;
}

.product-button:hover {
  cursor: pointer;
  box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -webkit-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -moz-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
}

.products-loading {
  display: none;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-product {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: var(--dark-text-color);
  font-weight: bold;
}

.product-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.product-images {
  width: 45%;
  margin-right: 15px;
}

.product-selected-image {
  width: 100%;
  margin: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
}

.product-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 15px;
}

.product-selected-images {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.product-small-image {
  margin: 10px;
  margin-top: 3px;
  width: 20%;
  border-radius: 10px;
  height: auto;
}

.product-small-image:hover {
  cursor: pointer;
}

.product-small-images {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.product-small-images::-webkit-scrollbar {
  display: none;
}

.selected-image {
  border: 3px red solid;
}

.product-title {
  font-weight: bolder;
  font-size: 40px;
  margin-top: 10px;
  color: var(--dark-text-color);
}

.product-description {
  font-size: 15px;
  font-weight: 500;
  color: var(--dark-text-color);
  margin-top: 8px;
}

.rating {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.star {
  margin-right: 2px;
}

.rating-text {
  margin-left: 7px;
  text-align: center;
  font-size: 20px;
  color: var(--dark-text-color);
}

.product-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add-to-cart {
  width: fit-content;
  color: var(--dark-text-color);
  font-size: 15px;
  border: 0px;
  background-color: transparent;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
  padding: 10px;
  width: 20%;
  background-color: red;
}

.add-to-cart:hover {
  cursor: pointer;
  box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -webkit-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -moz-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
}

.product-price {
  margin-top: 5px;
}

.real-price {
  font-size: 35px;
  color: red;
  font-weight: bolder;
}

.original-price {
  font-size: 17px;
  text-decoration: line-through;
  color: var(--dark-text-color);
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
}

.review {
  width: 100%;
  margin-top: 10px;
  background-color: var(--dark-bg-secondary);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-parent-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reviews {
  width: 90%;
}

.userprofile {
  width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username {
  font-size: 20px;
  margin-top: 10px;
}

.review-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: var(--dark-text-color);
  width: 100%;
}

.review-text {
  margin-top: 10px;
  text-align: start;
  width: 100%;
}

.others-reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-review {
  background-color: var(--dark-bg-secondary);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  height: min-content;
  border-radius: 10px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.review-input-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.review-input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--dark-bg-primary);
  color: var(--dark-text-color);
  margin-right: 5px;
}

.review-input::placeholder {
  color: rgb(255, 121, 121);
}

.add-review-button {
  padding: 10px;
  border-radius: 10px;
  background-color: red;
  color: white;
  border: 0px;
  margin-right: 5px;
  font-size: 15px;
  transition: all ease-in-out 0.25s;
}

.add-review-button:hover {
  cursor: pointer;
  box-shadow: 2px 3px 11px -1px var(--dark-bg-primary);
  -webkit-box-shadow: 2px 3px 11px -1px var(--dark-bg-primary);
  -moz-box-shadow: 2px 3px 11px -1px var(--dark-bg-primary);
}

.review-input-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

.cart-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.cart-item-div {
  background-color: var(--dark-bg-secondary);
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
  margin-top: 10px;
}

.cart-item-div:hover {
  cursor: pointer;
  box-shadow: 0 4px 30px var(--dark-bg-secondary);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.img {
  margin-left: 10px;
  border-radius: 10px;
  width: 200px;
}

.cart-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bolder;
  text-align: start;
  width: 98%;
  margin-left: 10px;
}

.cart-item-details {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-title {
  text-align: start;
  margin-left: 10px;
  width: 100%;
}

.cart-actions {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-btn {
  border: 0px;
  outline: none;
  background-color: var(--dark-bg-primary);
  color: var(--dark-text-color);
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bolder;
}

.cart-btn:hover {
  cursor: pointer;
}

.remove {
  background-color: red;
  margin-left: 0px;
  margin-right: 0px;
}

.place-order {
  width: 50%;
  background-color: red;
}

.red {
  color: red;
  text-align: center;
  margin: 10px;
}

.toast {
  position: fixed;
  background-color: hsl(0, 100%, 66%);
  padding: 10px;
  border-radius: 10px;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  opacity: 0;
  z-index: -1;
  transition: all ease-in-out 0.5s;
}
.msg {
  color: white;
  font-size: 20px;
  margin: 10px;
}
.close-toast {
  font-size: 15px;
  background-color: transparent;
  border: 0px;
  outline: none;
  color: rgb(255, 255, 255);
  transition: all ease-in-out 0.25s;
}

.close-toast:hover {
  color: rgb(255, 162, 162);
  cursor: pointer;
}

.show-toast {
  opacity: 1;
  z-index: 200;
}

.orders-title {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: block;
}

.orders {
  width: 98%;
  margin-top: 20px;
  border-collapse: collapse;
  color: var(--dark-text-color);
}

.orders-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.order-th {
  padding: 10px;
  background-color: var(--dark-bg-secondary);
  border: 1px solid var(--dark-text-color);
}

.order-td {
  border: 1px solid var(--dark-text-color);
  padding: 10px;
  background-color: var(--dark-bg-secondary);
}

.orders-td:hover {
  cursor: pointer;
}

.order-details {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 300;
  overflow-y: hidden;
}

.order {
  background-color: var(--dark-bg-primary);
  width: 70%;
  height: 98%;
  border-radius: 10px;
  color: var(--dark-text-color);
  padding: 10px;
  overflow-y: scroll;
}
.order::-webkit-scrollbar {
  display: none;
}
.order-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: sticky;
  top: 0px;
  z-index: 200;
  background-color: var(--dark-bg-secondary);
  color: var(--dark-text-color);
  padding: 10px;
  border-radius: 10px;
}

.close-btn {
  background-color: transparent;
  border: 0px;
  outline: none;
  color: red;
  font-size: 15px;
  transition: all ease-in-out 0.25s;
}

.close-btn:hover {
  color: var(--dark-text-color);
  cursor: pointer;
}

.order-id {
  font-size: 20px;
  font-weight: bolder;
}

.order-address {
  margin-top: 10px;
  color: var(--dark-text-color);
  font-size: 15px;
}

.order-address-text {
  font-weight: 500;
  color: var(--dark-text-color);
  font-size: 15px;
}

.oder-price {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
}

.order-price-text {
  font-size: 20px;
  font-weight: bolder;
  font-size: 25px;
}

.order-date {
  margin-top: 10px;
  font-size: 15px;
  color: var(--dark-text-color);
}

.order-date-text {
  font-weight: 500;
  color: var(--dark-text-color);
  font-size: 15px;
}

.oder-status {
  margin-top: 10px;
  font-size: 15px;
  color: var(--dark-bg-primary);
}

.order-status-text {
  font-weight: 500;
  color: var(--dark-bg-secondary);
  font-size: 15px;
}

.order-products {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 25px;
  color: var(--dark-bg-primary);
}
.cart-div.order-products {
  color: var(--dark-bg-primary);
}

.product-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.btnn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  outline: none;
  margin: 10px;
  color: var(--dark-text-color);
  font-size: 20px;
}

.btnn:hover {
  cursor: pointer;
  box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -webkit-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -moz-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
}

.cancel {
  background-color: red;
}

.return {
  background-color: green;
}

.side-dropdown {
  right: 11vw;
  position: absolute;
  background-color: var(--dark-bg-secondary);
  top: 63px;
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
  display: none;
}

.search-text {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.address-div {
  width: 100%;
  justify-content: center;
  align-items: start;
  display: flex;
}

.address {
  background-color: var(--dark-bg-secondary);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 98%;
  margin-top: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-text {
  margin: 10px;
  text-align: start;
  color: var(--dark-text-color);
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
}

.address-edit {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 0px;
  background-color: var(--dark-bg-primary);
  color: var(--dark-text-color);
  margin: 10px;
}

.address-edit:hover {
  cursor: pointer;
}

.edit-address {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 300;
  overflow-y: hidden;
}

.edit {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: var(--dark-bg-secondary);
  color: var(--dark-text-color);
}

.edit::-webkit-scrollbar {
  display: none;
}

.edit-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 25px;
}

.address-input-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.address-input {
  width: 95%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--dark-bg-primary);
  color: var(--dark-text-color);
  outline: none;
  border: 0px;
}

.address-input::placeholder {
  color: rgb(255, 126, 126);
}

.address-btn {
  width: 50%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  outline: none;
  background-color: red;
  color: white;
  transition: all ease-in-out 0.25s;
}

.address-btn:hover {
  cursor: pointer;
  box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -webkit-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
  -moz-box-shadow: 2px 3px 11px -1px var(--dark-bg-secondary);
}

/* responsive */

@media (max-width: 670px) {
  .search-block {
    display: none;
  }
  .coursel-main-text {
    font-size: 15px;
  }
  .coursel-sub-text {
    font-size: 10px;
  }
  .product-title {
    font-size: 20px;
  }
  .mobile {
    display: flex;
    width: 80%;
  }
  .navbar {
    width: 100%;
  }
  .search {
    width: 100%;
  }
  .category-filter {
    top: 112px;
  }
  .content {
    margin-top: 60px;
  }
  .search-text {
    font-size: 20px;
  }
}

@media (max-width: 870px) {
  .authentication-block {
    width: 90%;
  }
  .text-action {
    font-size: 11px;
  }
  .input {
    width: 100%;
  }
  .field-block {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .cart-actions {
    flex-direction: column;
    margin-right: 20px;
  }
  .cart-btn {
    margin-top: 7px;
  }
  .cart-qty {
    margin-top: 7px;
  }
  .cart-title {
    font-size: 15px;
  }
  .main-content {
    width: 100%;
  }
  .cart-item-div {
    width: 97%;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
  }
  .cart-div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .product-div {
    flex-direction: column;
    width: 97%;
  }
  .product-parent-div {
    margin-right: 0px;
    margin-left: 0px;
  }
  .product-images {
    width: 97%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .product-selected-image {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .product-info {
    width: 100%;
  }
  .product-action {
    width: 95%;
    justify-content: space-evenly;
  }
  .add-to-cart {
    width: max-content;
  }
  .reviews {
    width: 100%;
    margin: 0px 0px 0px 0px;
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .others-reviews {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .add-review {
    margin: 0px 0px 0px 0px;
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .review {
    width: 100%;
    margin: 0px 0px 0px 0px;
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .username {
    font-size: 15px;
  }
  .userprofile {
    width: 30%;
  }
  .rating-text {
    width: fit-content;
  }
  .orders {
    width: 100%;
    display: block;
    font-size: 15px;
  }
  .mobile-d {
    display: none;
  }
  .order-details {
    width: 100%;
  }
  .orders-container {
    width: 100%;
  }
  .order {
    width: 100%;
  }
  .product-image-div {
    width: 100%;
  }
  .product-image {
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .review-text {
    width: 95%;
  }
}

@media (min-width: 670px) {
  .mobile {
    display: none;
  }
  .search {
    width: 50%;
  }
  .category-filter {
    top: 64px;
  }
  .search-text {
    font-size: 25px;
  }
  .authentication-block {
    width: 50%;
  }
  .cart-actions {
    margin-left: 0px;
    margin-right: 3vw;
  }
}
